<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">Employee Management System</a>
    
    <button class="navbar-toggler" type="button" 
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" 
            aria-controls="navbarContent" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link active" routerLink="/employees" routerLinkActive="active">
            <i class="fa fa-users me-1"></i> Employees
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <!-- User dropdown -->
        <li class="nav-item dropdown" ngbDropdown *ngIf="authService.isLoggedIn()">
          <a class="nav-link dropdown-toggle" 
             id="userDropdown" 
             ngbDropdownToggle
             role="button" 
             aria-expanded="false">
            <i class="fa fa-user-circle me-1"></i> {{ authService.getUsername() }}
          </a>
          <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="userDropdown">
            <button ngbDropdownItem class="text-danger" (click)="authService.logout()">
              <i class="fa fa-sign-out me-1"></i> Sign Out
            </button>
          </div>
        </li>

        <!-- Login/Register buttons -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <i class="fa fa-sign-in me-1"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">
            <i class="fa fa-user-plus me-1"></i> Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>